.contenedor1 {
    background-color: black;
    padding: 10px;
    /*width: 600px;*/
    height: 600px;
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    align-content: space-between;
}
/*.caja {
    background-color: gray;
    color: aliceblue;
    width: 150px;
    height: 150px;
    margin: 5px;
}*/

.caja1 {
    background-color: purple;
    width: 150px;
    margin: 5px;
    flex-grow: 1;
}

.cajitasde1 {
    background-color: mediumaquamarine;
    width: 50px;
    height: 100px;
    margin: 5px;
}

.caja2 {
    background-color: mediumturquoise;
    width: 150px;
    margin: 5px;
    flex-grow: 5;
}

.cajitasde2 {
    background-color: greenyellow;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.caja3 {
    background-color: greenyellow;
    width: 150px;
    margin: 5px;
    flex-grow: 1;
}

.cajitas1de3 {
    background-color: purple;
    width: 50px;
    height: 70px;
}

.cajitas2de3 {
    background-color: purple;
}

.cajitas3de3 {
    background-color: purple;
}

.cajitas4de3 {
    background-color: purple;
}